* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}




// @import "./_myfonts.scss";
@import "./_mycolors.scss";
@import "../node_modules/bootstrap/scss/bootstrap";


body {
	background-color: #92dccd;
}

html {
	scroll-behavior: smooth;
}


// start of nav
// .navbar {
// 	position: fixed;
// 	width: 100%;
// 	top: 0;
// 	z-index: 2;
// }

#nav-link-color:hover {
	background-color: rgba(0,0,0,0.5);
	color: white;
}

#nav-link-color{
	font-family: 'Nunito Sans', sans-serif;
}

#navbar-title {
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	font-weight: bolder;
}
// end of nav



// start of carousel
#image-size {
	width: 100%;
	max-height: 77vh;
}

.img-opacity {
	opacity: 0.8;
}

#title-carousel {
	position: absolute;
	top: 39%;
	left: 23%;
	z-index: 100;
	color: #fff;
	font-family: 'Dancing Script', cursive;
	font-size: 6em;
	border: 2px solid white;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	font-weight: bold;
}

#button-carousel {
	position: absolute;
	top: 89%;
	left: 46%;
	z-index: 1;
}

#button-car-color {
	color: black;
	font-family: 'Nunito Sans', sans-serif;
}
#button-car-color:hover{
	color: black;
	text-decoration: none;

}

#index-foot {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

// end of carousel


// css for home
// start of body

#cont-bg {
	background-image: url("../../assets/images/home-bg.jpg");
	background-image: linear-gradient(rgba(51,51,51,0.7), rgba(51,51,51,0.45)),url("../../assets/images/home-bg.jpg");
	background-size: cover;
	background-attachment: fixed;
}


#first-row {
	margin-top: 100px;
	margin-left: 0;
	margin-right: 0;
}

#first-cont {
	
}

#card-john {
	margin-top: 200px;
	margin-bottom: 100px;
}

#fifthrow {


}

#trial {
	background-color: white;
	margin-top: 300px;
}


.jumbotron-custom {
	border-radius: 20px;
	background-color: #ffe9ca;
	padding: 20px;
}



.jumbotron > h3 {
	font-family: 'Nunito Sans', sans-serif;
}

.fas {
	text-decoration: none;
	font-size: 30px;
	color: #4a73b1;
}


#car-home-two {
	border: 2px solid white;
	padding: 10px;
	
}

.home-img-h {
	max-height: 41vh;
}

#card-john {
	border: 2px solid black;
}

#john-size {

}

#not-con-id {
		margin-top: 50px;
	}

#not-con-id-again {
		padding: 10px;
		width: 70%;
		position: absolute;
		left: 15%;
	}


// end of body
// end of home


// start of about

#about-con {
	margin-bottom: 281px;
}

#about-row-home{
	margin-top: 100px;
}

#about-card {
	background-color: rgba(146,220,205,0.6);
	border: 2px solid white;
}

#about-text {
	color: white;
	background-color: rgba(0,0,0,0.5);
	padding: 10px;
}

#about-title {
	font-weight: bold;
}

#about-car {
	border: 2px solid white;
	padding: 20px;
}

.about-img-h {
	max-height: 35vh;
}

#image-size-about {
	max-height: 210px;
}
// end of about

// start of gallery

#gal-row {
	padding: 0;
	margin-top: 80px;
	margin-right: auto;
	margin-left: auto;
	width: 65%;

}

#gallery-title {
	font-family: 'Dancing Script', cursive;
	font-size: 50px;
	color: #fff;
	font-weight: bolder;
}

#gal-jumbo {
	background-color: rgba(146,220,205,0.5);
	border: 2px solid white;
}

#first-row-gal {
	margin-top: 50px;
}

#sec-row-gal {
	margin-top: 80px;
	margin-bottom: 50px;
}


.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  display: none;
}
  
.card-img-caption .card-img-top {
  z-index: 0;
}
    
.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 33% 0;
  position: absolute;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
}


.card:hover > .card-img-caption {
	display: block;
}


#card-size {
	max-height: 260px;
}

#john-size1 {
	max-height: 43vh;
}


// end of gallery


// start of contact us

.jumbotron-contact {
	background-color: rgba(146,220,205,0.5);
	border: 2px solid white;
	margin-top: 20px;
}

.contact-title {
	font-family: 'Nunito Sans', sans-serif;
	color: white;
	font-size: 35px;
}

#margin-foot {
	margin-top: 89px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

// end of contact us

// start of book

.form-con {
	border: 2px solid white;
	background-color: rgba(146,220,205,0.5);
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	height: 70vh;
	margin-bottom: 48px;
	padding: 20px;
}

.book-title {
	font-size: 50px;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	background-color: rgba(0,0,0,0.5);
	height: 70px;
	line-height: 70px;
	text-align: center;
}

#book-footer {
	margin-top: 210px;
}


#book-con {
	height: 81vh;
}



// end of book

.social-links {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.socials-icon {
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.foot-text {
	padding-top: 20px;
}

.foot-icon {
	padding-bottom: 20px;
}



@media only screen and (max-width: 400px) {
	#title-carousel {
		top: 15%;
		left: 21%;
		font-size: 1.5em;
	}

	#button-carousel {
		top: 60%;
		left: 35%;
	}

	#about-card {
		margin: 0;
	}
	.card-text {
		font-size: 0.8em;
	}
	.card-title {
		font-size: 1em;
	}

	#about-row-home {
		margin-top: 10px;
	}

	#about-car {
		max-width: 230px;
		margin-top: 20px;
		margin-left: 40px;
		padding: 10px;
	}

	#gallery-title {
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	color: #fff;
	font-weight: bolder;
	}

	.not-con {
		font-size: 20px;
	}

	#first-row {
		margin:0;
		margin-top: 20px;
	}

	#card-john{
		margin: 20px;
	}

	#image-size {
		max-height: 31vh;
	}

	.about-img-h {
		max-height: 20vh;
	}

	.form-con {
	border: 2px solid white;
	background-color: rgba(146,220,205,0.5);
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 110vh;
	margin-bottom: 48px;
	padding: 20px;
}

	.book-title {
	font-size: 30px;
	color: white;
	font-family: 'Nunito Sans', sans-serif;
	background-color: rgba(0,0,0,0.5);
	height: 70px;
	line-height: 70px;
	text-align: center;
	}



}



@media only screen and (min-width: 401px) and (max-width: 768px) {
	#title-carousel {
		top: 35%;
		left: 20%;
		font-size: 4em;
	}

	#button-carousel {
		top: 80%;
		left: 43%;
	}

	#image-size {
		max-height: 42vh;
	}
}

@media only screen and (min-width: 411px) and (max-width: 500px)
{
	#title-carousel {
		top: 25%;
		left: 18%;
		font-size: 2em;
	}
	#button-carousel {
		top: 65%;
		left: 38%;
	}

	#image-size {
		max-height: 28vh;
	}
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
	
	#title-carousel {
		top: 35%;
		left: 20%;
		font-size: 5em;
	}

	#button-carousel {
		top: 85%;
		left: 45%;
	}

	#image-size {
		max-height: 42vh;
	}

	#id-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.about-cont {
		height: 100vh;
	}

	#id-gal {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#margin-foot {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.about-img-h {
		max-height: 18vh;
	}
}










